---
BasedOnStyle: LLVM
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: 'true'
AlwaysBreakBeforeMultilineStrings: 'true'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: Allman
BreakStringLiterals: 'false'
ColumnLimit: '0'
IncludeBlocks: Regroup
IndentCaseLabels: 'true'
IndentWidth: '4'

...
