# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

src/*_hex.c
bin/
release/
examples/*.s
examples/*.elf
examples/*.hex

working
working/*

microscheme
