h1 {
  font-family: 'Open Sans', sans;
  font-weight: 300;

  margin-top: 21px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 19px;
}

h2 {
  font-family: 'Open Sans', sans;
  font-weight: 300;

  margin-top: 21px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 19px;
}

h3 {
  font-family: 'Open Sans', sans;
  font-weight: 300;

 
}

p, #content {
  font-family: 'Open Sans', sans;
  font-size: 13pt;
  
}

.msinfo {
  margin-left: 10px;
  line-height: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  
  padding: 3px;

  border: 1px solid #FFFFFF;
  
  /*background-color: #F5F5FF;
  border: 1px solid #F0F0FF;
  border-radius: 6px;*/
}

.msinfo:hover {
  background-color: #EEEEFF;
  border: 1px solid #CCCCDD;
  border-radius: 6px;
}

.msform {
  padding: 1px 6px;
  border-radius: 6px;
  
  font-family: 'Inconsolata', monospace;
  font-size: 10pt;
}

.msform em {
  opacity: 0.8;
}

il {
  font-family: monospace;
  font-size: 10pt;
  color: #000065
}

.fundement {
  background-color: #20293F;
  color: #F5F5FF;
}

.libraryfo {
  background-color: #60697F;
  color: #F5F5FF;
}

.primitive {
  background-color: #A9B0B3;
  color: #000015;
}



#sidenav {

  position: fixed;
  left: 0px;
  top: 0px;
  width: 180px;
  height: 100%;
  
  background-color: #2d2d30;
  border-left: 1px solid #1c1c1c;
}

#content {
  position: absolute;
  top: 0px;
  left: 181px;
  padding: 20px 45px 20px 45px;

  
  min-height: 100%;

}

#thenav {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

ul#thenav a:link {
  text-decoration: none;
  color: #c2c2c2;
}

#thenav form input {
  border: none;
  background-color: .#2d2d30;
  width: 100%;
  height: 34px;
}

#thenav li {
  color: #c2c2c2;
  
  padding: 10px ;
  font-family: 'Open Sans', sans;
  font-size: 8pt;
  
  border: none;
  border-bottom: 1px solid #424242;
}

#thenav a li:hover, #thenav a.active li {
  color: #ffffff;
}

#thenav li .small-logo {
  width: 16px;
  height: 16px;
  margin-bottom:-4px;
  float:right;
  opacity: 0.5;
}

#thenav li:hover .small-logo {
  opacity: 0.8;
}

#thenav li#bigtop {
  background-color: #1c1c1c;
  color: #f2f2f2;
  text-align: center;

  font-size: 24pt;
}

#thenav li#title {
  background-color: #1c1c1c;
  color: #f2f2f2;
  text-align: center;
}

#thenav li#subtitle {
  background-color: #242428;
  color: #f2f2f2;
  text-align: center;
}

#thenav ul.subnav {
  list-style: none;

  margin-left: 0px;
  padding-left: 0px;
}

#thenav ul.subnav li {
  margin-left: 0px;
  padding-left: 24px;

  background: url('img/sub.png') no-repeat; 
  background-size: 8px 12px;
  background-position: 10px center;
}

#copy {
  position: fixed;

  width: 160px;
  height: 25px;

  color: #585858;
  
  padding: 10px ;
  font-family: 'Open Sans', sans;

  bottom: 0px;
  font-size: 8pt;
  text-align: center;
  
}

.prose {
  font-size: 11pt;
  line-height: 26px;
}


.leftbox {
  float: left;
  margin-right: 20px;
}

.rightfill {
  width: 100%;
  float: none;

}

.row {
  clear: both;
}

.lefthalf {
  float: left;
  width: 48%;

}

.righthalf {
  width: 48%;
  float: right;

}

.newrow {
  width: 100%;
  float: left;
  clear: both;
}

code.hljs {
  background: #2d2d30;
}

.breadcrumb {
  color: #323232;
  margin-top: -18px;
}

#content hr {
  border:none;
  height:1px;
  background-color: #cecece;
  margin-top: 24px;
}

#content a:link, #content a:visited {
  color: #111277;
  text-decoration: none;
}

#content a:active, #content a:hover {
  color: #111277;
  text-decoration: underline;
}

.box3 {
  background-color: #EBF7FD;
  width: 30%;
  margin: 1.5%;
  float: left;
  padding: 0px;
  color: #1D6081;
  border: 1px #6DB0D1 solid;
  border-radius: 4px;

  min-width: 280px;
}

.box2 {
  background-color: #EBF7FD;
  width: 46%;
  margin: 1.5%;
  float: left;
  padding: 0px;
  color: #1D6081;
  border: 1px #6DB0D1 solid;
  border-radius: 4px;

  min-width: 380px;
}

.box3 .internal, .box2 .internal {
  padding: 15px 20px 15px 20px;
  margin: 0px;
}

.box3 .internal h3, .box2 .internal h3 {
  margin-top: 0px;
  font-weight: 600;
  margin-bottom: 6px;
}

.butns {
  width: 230px;
  margin: 15px auto 10px auto;
  padding: 0px;
}

.butns1 {
  width: 100px;
  margin: 15px auto 10px auto;
  padding: 0px;
}

.butn {
  width: 100px;
  
  border: 1px #6DB0D1 solid;
  border-radius: 4px;
  float: left;
  padding: 5px;
  text-align: center;

  margin: 0px;
}

.box3 .internal .butns .butn.l ,.box2 .internal .butns .butn.l {
  margin-right: 5px;
}