Package: microscheme
Version: 0.9.1
Section: base
Priority: optional
Architecture: x86_64
Depends: glibc, gcc-avr, avrdude
Maintainer: Ryan Suchocki <ryan <at> ryansuchocki <dot> co <dot> uk>
Description: A Scheme subset designed for Atmel microcontrollers,
 especially as found on Arduino boards.

